<span class="resource">
    {{getIcon @type}}
    <a href="/resource/{{@id}}">
        {{#localized this.name}}{{[@value]}} ({{[@language]}}){{/localized}}
        {{^this.name}}{{[@id]}}{{/this.name}}
    </a>
</span>
