<div class="container container-static-page container-static-page-vertical">
    <div class="html-from-markdown">
        <h1>{{ scope.title }}</h1>
        <p>Written on {{ scope.date }} by <em>{{ scope.author }}</em></p>
        {{{ scope.body }}}
    </div>
</div>
