{{#scope}}
    <div class="resource-action">
        <script type="application/ld+json">
              {{{.}}}
          </script>
        <h1><i class="fa fa-gears"></i> {{#name}}{{@value}}{{/name}}</h1>
        {{#startTime}}<p>Duration: {{.}}{{#endTime}} - {{.}}{{/endTime}}</p>{{/startTime}}
        {{#description}}<p lang="{{@language}}">{{@value}}</p>{{/description}}
        {{#location}}{{>ResourceIndex/Place/read.mustache}}{{/location}}
    </div>
    <h2>{{i18n.mentioned_in}}</h2>
    <ul>
      {{#referencedBy}}
        {{#?Article}}<li><a href="/resource/{{@id}}">{{#name}}{{@value}}{{/name}}</a></li>{{/?Article}}
      {{/referencedBy}}
    </ul>
{{/scope}}

